{% extends "base.html" %}

{% block body %}

<div class="container">

    <div class="container py-5">
        <div class="row">
          <div class="col-md-6">
            <img src="https://via.placeholder.com/400x400" alt="Ashwin" class="img-fluid rounded-circle mb-3">
            <h2>Ashwin</h2>
            <p class="lead mb-4">Linux Admin and Python Developer</p>
            <p>Hello, my name is Ashwin and I am a Linux Administrator with a passion for programming in Python. I have been working in the IT industry for over 5 years and have experience managing large-scale Linux environments. In my free time, I enjoy developing Python applications and contributing to open source projects.</p>
          </div>
          <div class="col-md-6">
            <h2>Skills</h2>
            <ul class="list-unstyled">
              <li>Linux Administration</li>
              <li>Python Programming</li>
              <li>Bash Scripting</li>
              <li>Database Management</li>
              <li>Cloud Computing</li>
            </ul>
            <h2>Education</h2>
            <ul class="list-unstyled">
              <li>Bachelor of Engineering (Computer Science)</li>
              <li>Red Hat Certified Engineer (RHCE)</li>
              <li>Oracle Certified Professional, MySQL 5.7 Database Administrator</li>
            </ul>
          </div>
        </div>
      </div>
      

</div>

{% endblock %}