{% extends "base.html" %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{post.date}}</div>

                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded"
                        src="{{url_for ('static',filename='uploads/' + post.imagefile) }}" alt="..." style="height: 640px;" /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{post.content|safe}}</p>
                </section>
            </article>

            
        </div>
    </div>


    {% endblock %}