{% extends "base.html" %}

{% block body %}




<div class="container">

	<div class="container">
	  <h1 class="m-3 mb-3">Post List</h1>
  
  
	  {% for i in post %}
	  <div class="card mt-3">
		<div class="card-header">
		  {{i.title}}
		</div>
		<div class="card-body">
		  <h5 class="card-title">{{i.tagline}}</h5>
		  <p class="card-text">{{i.content|safe|truncate(300,'(read more)')}}</p>
		  <a href="/post/{{i.slug}}" class="btn btn-primary">read more</a>
		</div>
	  </div>
	  {% endfor %}
  
	</div>

	<div class="d-flex justify-content-center mx-5 my-5">
          
          	
		<a class="btn btn-primary mx-2 float-left" href="{{prev}}"> &larr;Previous</a>
		<a class="btn btn-primary mx-2 float-right" href="{{next}}">Next &rarr;</a>
	  </div>
  </div>

{% endblock %}